//COLORES

$color1:rgb(162, 111, 175);
$color2:rgb(59, 27, 71);
$color3:rgb(105, 69, 119);


//MEDIDAS
$medida-titulo:80px;
$medida-subtitulo:70px;
$medida-parrafo:20px;
$medida-footer:15px;
$medida-imagen:300px;